<%= link_to "Dodaj obrazek",
            new_picture_path,
            :class => 'btn btn-primary' %>
<br />
<br />
<%= will_paginate @pictures %>
<div class="row">
  
  <% @pictures.each do |picture| %>
    <% cache picture do %>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <h3 ><%= picture.title %> <small>(<%= picture.added %>)</small></h3>
        <%= image_tag(picture.image.thumb)%>
        <div class="caption">
          
        <br />
        <br />
        <div class="form-group">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="btn-group">
              <% if can? :edit, picture %>
                <%= link_to "Edytuj",
                edit_picture_path(picture), :class => 'btn btn-mini btn-danger' %>  
              <% end %>
              <% if can? :destroy, picture %>
                <%= link_to "Usun",
                picture_path(picture),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-primary' %>
              <% end %>
              <% if can? :createmem, picture %>
                <%= link_to "Utworz mem",
                        createmem_picture_path(picture), :class => 'btn btn-mini btn-info' %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>






